<!Doctype html>

<html lang="en ca">

<head>
  <meta charset="utf-8">

  <meta name="viewport" content="width=device-width, initial-scale=1">


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">

  <title>My Project Site</title>


  
  <link rel="stylesheet" type="text/css" href="{{site.baseurl}}/css/main.css">



  
</head>


{% include header.html %}

        <br>
        <br>
    <div class="container container-custom">
       
        
        {{content}}

    </div> <!-- /container -->
    <br>
    <br>
{%include footer.html %}